body {
  background-color: #212529 ;
}

.bg-light-dark{
  background-color: #2B3035;
}


#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.container{
  flex: 1;
}

.textlogin{
  color: rgb(159, 180, 199);
}

.textregister{
  color: rgb(159, 180, 199);
}

.textfooter{
  color: rgb(97, 116, 116);
}

.textfooter2{
  color:rgb(119, 77, 77);
}